*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    height: 12vh;
    background-color: #f55a79;
    position: fixed;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 15vh; */
    padding-top: 25vh;
    background: #F6F6F6;
}
.header-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.header-container div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-container div img{
    width: 90%;
}
h1{
    font-size: 44px;
    font-weight: 900;
    color: #353740;
}
h3{
    font-size: 24px;
    color: #8d8f9c;
}
.header-container div span p{
    font-size: 16px;
    line-height: 28px;
    margin-top: 4vh;
    color:  #565656;
    text-align: justify;
}
.career-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}
.career-container img{
    width: 65%;
    margin: 3vh;
}
.career-container span{
    width: 80%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -.025em;
    color: #282828;
    margin-top: 40px;
}
.career-container button{
    width: 40%;
    height: 5vh;
    border: 4px solid #000;
    color: #000;
    border-radius: 40px;
    font-weight: 600;
    margin: 3vh 0 8vh 0;
    background-color: #FFF;
}
.enquire-container{
    width: 80%;
    height: 55vh;
    background-color: #fff;
    margin-top: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enquire-gray-cont{
    width: 90%;
    height: 90%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enquire-gray-cont span{
    width: 80%;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
    letter-spacing: -.025em;
}
/* footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 15vh;
}
.footer-top-container{
    width: 80%;
}
h4{
    font-size: 60px;
    font-weight: 600;
}
.footer-top-container div{
    margin-top: 30px;
}
.footer-top-container a{
    font-size: 24px;
    color: #282828;
    border-bottom: 1px solid #c6c6c6;;
}
.footer-top-item{
    width: 100%;
    display: flex;
}
.footer-top-item img{
    display: none;
}
.footer-top-item div{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1000px) {
    nav{
        height: 15vh;
    }
    .main-container{
       /* margin-top: unset; */
       padding-top: 16vh;
    }
    .header-container{
        width: 75%;
        margin-top: 7vh;
        flex-direction: row;
    }
    .header-container div{
        width: 50%;
    }
    .header-container div span p{
        font-size: 17px;
        line-height: 34px;
    }
    .header-container img{
        width: 40%;
        height: 70vh;
    }

    .career-container{
        width: 75%;
        height: 40vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 7vh;
    }
    .career-container img{
        width: 20%;
    }
    .career-container span{
        width: 35%;
        text-align: left;
    }
    .career-container button{
        width: 12%;
        height: 7vh;
        margin-top: 15vh;
    }
    .enquire-container{
        width: 75%;
        height: 75vh;
    }
    .enquire-gray-cont{
        width: 97%;
        height: 94%;
        justify-content: flex-start;
        padding-left: 10%;
        box-sizing: border-box;
    }
    .enquire-gray-cont span{
        width: 60%;
        font-size: 52px;
        line-height: 60px;
        letter-spacing: -.025em;
        /* font-weight: 700; */
    }
}